.note {
    padding: 15px;
    min-height: 420px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.8);;
}

.flex_column_parameters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.note_item {
    overflow: hidden;
    word-wrap: break-word;
}

.note textarea {
    resize: none;
    height: 200px;
    padding: 5px;
}

.low_status{
    background-color: #adb5bd;
}

.medium_status{
    background-color: #ffcd39;
}

.high_status{
    background-color: coral;
}

.critical_status{
    background-color: crimson;
}

.note_item :where(.date, .theme, .body){
    padding: 10px;
}

.note_icon {
    font-size: 20px;
}

@media (max-width: 768px) {
    .note_wrapper {
        justify-content: center!important;
    }
}

@media (max-width: 576px) {
    .xs_note {
        width:80% !important;
    }
}

