header {
    width: 100%;
    background-color: black;
    padding: 20px;
}

.header_content {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.header-item {
    display: flex;
    align-items: center;
    color: #fff;
}

.logo {
    justify-content: start;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu {
    justify-content: end;
}

.menu li {
    cursor: pointer;
}

.menu li:hover {
    color: peachpuff;
}

.btn-menu
{
    margin-left: 20px;
    color: white!important;
    background-color: #2d3748!important;
}

